

.custom-border {
    border-top: 2px solid #ffc107;
    border-bottom: 1px solid rgb(223, 221, 221);
    background-color: white;
    padding: 0.3rem 0;
}

.custom-nav-img {
    width: 3.8rem;
    height: auto;
}

.custom-checkbox:checked {
    background-color: #e08207 !important;
    border-color: #ffc107 !important;

}

.form-control::placeholder {
    font-size: 0.8rem;
    color: #a2a6aaf1;
    opacity: 1;
}

.custom-article-img {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover;

}

.custom-icons {
    width: 1.5rem;
    height: 1.5rem;
}

#country {
    font-size: 0.9rem;
}

.custom-icons-schedule {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.1rem;
}

.radio-color:checked {
    background-color: #e08207 !important;
    border-color: #ffc107 !important;
}

.custom-input-stripe {
    padding: 0.6rem 0.75rem;
}

.custom-icons-card {
    width: 1.5rem;
    height: auto;
}

.custom-icons-payment {
    width: 2.1rem;
    height: auto;
}

.custom-icons-recto-card {
    padding-top: 0.2rem;
    width: 2rem;
    height: 2.1rem;
}